# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (no subas raw)
data/raw/
data/processed/

# Outputs (si quieres versionar gold, quita esta línea)
outputs/demo/
