# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# =========================
# DATA STRATEGY - SINTELO
# =========================

# NO subir raw (fuente original)
data/raw/

# NO subir backups pesados
*.bak

# Subir gold (es reproducible e institucional)
# data/gold/   <-- NO ignorar

# =========================
# REPORTS
# =========================

# Subir reports (estos son entregables institucionales)
# reports/  <-- NO ignorar

# notebooks local artifacts
notebooks/data/